# Default ignored files
/shelf/
/workspace.xml


# Java / Maven
Backend/target/
Backend/.idea/
Backend/*.iml

# Node / React
Frontend/node_modules/
Frontend/dist/

# Environment variables
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
